
!/outtest/banned-ips.txt
!/outtest/banned-players.txt
!/minecraft_server.iml
!/outtest/world/
/out/
!/server.log.lck
!/outtest/server.log
!/server.properties
!/outtest/server.gamerules
!/outtest/ops.txt
!/.idea/
*.class
/bin/
/.settings/
.classpath
.project
